# 02 Data Preprocessing

This notebook reviews feature engineering and column selection used in modeling.
Data quality decisions are summarized in `../reports/data_quality_report.md`.

In [1]:
from pathlib import Path
import sys

root = Path('..').resolve()
sys.path.append(str(root / 'src'))

from modeling import load_and_preprocess

data_path = root / 'data' / 'raw' / 'ibm_hr_attrition.csv'
X, y, categorical_cols, numerical_cols = load_and_preprocess(data_path)
X.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,RelationshipSatisfaction_outlier,StockOptionLevel_outlier,TotalWorkingYears_outlier,TrainingTimesLastYear_outlier,WorkLifeBalance_outlier,YearsAtCompany_outlier,YearsInCurrentRole_outlier,YearsSinceLastPromotion_outlier,YearsWithCurrManager_outlier,TotalSatisfaction_outlier
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,...,0,0,0,1,0,0,0,0,0,0
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,...,0,0,0,0,0,0,0,0,0,0
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,...,0,0,0,0,0,0,0,0,0,0
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,...,0,0,0,0,0,0,0,0,0,0
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,...,0,0,0,0,0,0,0,0,0,0

In [2]:
categorical_cols

['BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'OverTime',
 'AgeGroup']

In [3]:
numerical_cols

['Age',
 'DailyRate',
 'DistanceFromHome',
 'Education',
 'EnvironmentSatisfaction',
 'HourlyRate',
 'JobInvolvement',
 'JobLevel',
 'JobSatisfaction',
 'MonthlyIncome',
 'MonthlyRate',
 'NumCompaniesWorked',
 'PercentSalaryHike',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager',
 'TotalSatisfaction',
 'Age_outlier',
 'DailyRate_outlier',
 'DistanceFromHome_outlier',
 'Education_outlier',
 'EnvironmentSatisfaction_outlier',
 'HourlyRate_outlier',
 'JobInvolvement_outlier',
 'JobLevel_outlier',
 'JobSatisfaction_outlier',
 'MonthlyIncome_outlier',
 'MonthlyRate_outlier',
 'NumCompaniesWorked_outlier',
 'PercentSalaryHike_outlier',
 'PerformanceRating_outlier',
 'RelationshipSatisfaction_outlier',
 'StockOptionLevel_outlier',
 'TotalWorkingYears_outlier',
 'TrainingTimesLastYear_outlier',
 'WorkLifeBalance_outlier',
 'YearsAtCompany_outlier',
 'YearsInCurrentRole_outlier',
 'YearsSinceLastPromotion_outlier',
 'YearsWithCurrManager_outlier',
 'TotalSatisfaction_outlier']

### Feature Engineering Summary
- `AgeGroup` derived from `Age` bins.
- `TotalSatisfaction` is the sum of available satisfaction metrics.
- Non-informative columns removed during modeling: `EmployeeNumber`, `Over18`, `StandardHours`, `EmployeeCount`.